.customUl {
  list-style-type: none;
  padding: 0 8px;
  margin: 8px 0 8px;

  li {
    padding: 12px 8px 12px 16px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.06);
      border-radius: 8px;
    }

    a {
      transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s,
        color 0.3s;
      color: rgba(0, 0, 0, 0.88);
    }

    &.active {
      background: #b5f5ec;
      border-radius: 8px;
    }
  }
}
.mr10 {
  margin-right: 10px;
}
